/* universal */

body{
  padding: 4%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .05rem;
}

div, section, footer{
  padding: 2% 0;
}

h2, h3, h4, h5{
  text-transform: uppercase;
}

.green-font{
  color: #679a40;
}

/********* header and banner image **********/

header h2{
  font-weight: 900;
  margin: 0;
  letter-spacing: .1rem;
}

nav{
  text-align: right;
  font-weight: bold
}

li{
  text-decoration: none;
  display: inline-block;
  padding: 2%;
}

a{
  text-decoration: none;
  color: #679a40;
}

.banner-image{
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 100%; */
  min-height: 40vh;
  border-top: 4px solid #679a40;
  border-bottom: 4px solid #679a40;
  margin-top: 1rem;
}

/***** welcome and info********/

.border-bottom{
  border-bottom: 2px #e0e0e0 solid;
}

.border-left{
  border-left: 2px #e0e0e0 solid;
  padding-left: 4%;
}

.padding-right{
  padding-right: 4%;
}

.padding-left{
  padding-left: 4%;
}

.blocks ul{
  padding-left: 0;
}

.blocks li{
  padding-left: 0;
  display: block;
}

/***** footer *****/

footer{
  text-align: center;
  letter-spacing: .1rem;
}

.cursive{
  font-family: 'Dancing Script', cursive;
  text-transform: none;
  font-size: 1.4rem;
  font-style: italic;
  color: #679a40;
}

/********* media queries ***********/

@media screen and (max-width: 769px){
  .border-left{
    border-left: none;
    border-bottom: 2px #e0e0e0 solid;
  }

  .blocks{
    text-align: center;
  }

  .border-bottom{
    border-bottom: none;
    border-top: 2px #e0e0e0 solid;
  }

  .border-top{
    border-top: 2px #e0e0e0 solid;
  }
}

@media screen and (max-width: 576px){
  header{
    text-align: center;
  }

  header nav{
    text-align: center;

  }
}



/**** colors ****/
/* green: #679a40; gray: #e0e0e0; */
